body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }

  .imgPreview img{
      width:150px;
      height: 150px;
      margin-bottom:20px;
  }

  .imgPreviewTable, .booleanTable{
    text-align: center
  }

  .imgPreviewTable img{
    width: 30px;
    height: 30px;
  }

  .table > tbody > tr > td {
    vertical-align: middle;
    padding: 5px;
  }

  .rdw-editor-main {
    height: 150px !important;
  }

  .ql-container {
    height: 150px !important;
  }