body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }

  .imgPreview img{
      width:150px;
      height: 150px;
      margin-bottom:20px;
  }